//- doctype html
//- html
//-     head
//-         title=ptitle
//-     body
//-         h2=ptitle
//-         p This is PUG View
//-         a(href="employees") Employees

extends layout
block content
    p This is PUG View
    a(href="employees") Employees